{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Sign in </title>
</head>

<body>
	<header id="head" class="secondary">
    {% include "navbar.html.twig" %} 
    </header>

    <!-- container -->
    <div class="container">

        <div class="row">
            
            <!-- Article main content -->
            <article class="col-lg-9 maincontent">
                <header class="page-header mb-4">
                    <h1 class="page-title">Contactez-nous</h1>
                </header>
                
                <p>
                    Nous serions ravis de vous entendre. Envie de collaborer avec nous ? Remplissez le formulaire ci-dessous avec quelques informations sur votre projet et je vous répondrai dans les plus brefs délais. 
                    Veuillez prévoir quelques jours pour une réponse.
                </p>
                <br>
                <form>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <input class="form-control" type="text" placeholder="Name">
                        </div>
                        <div class="col-md-4 mb-3">
                            <input class="form-control" type="email" placeholder="Email">
                        </div>
                        <div class="col-md-4 mb-3">
                            <input class="form-control" type="tel" placeholder="Phone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <textarea placeholder="Type your message here..." class="form-control" rows="9"></textarea>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="newsletterCheck">
                                <label class="form-check-label" for="newsletterCheck">
                                    Sign up for newsletter
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 text-md-end">
                            <input class="btn btn-primary" type="submit" value="Send message">
                        </div>
                    </div>
                </form>
            </article>
            <!-- /Article -->
            
            <!-- Sidebar -->
            <aside class="col-lg-3 sidebar sidebar-right">
                <div class="card">
                    <div class="card-body">
                        <h4>Address</h4>
                        <address>
                            {{ "now" | date("Y")}} Holcombe Yaounde, Houston, TX 77030, Cameroun
                        </address>
                        <h4>Phone:</h4>
                        <address>
                            (+237) 677 034 xxx
                        </address>
                    </div>
                </div>
            </aside>
            <!-- /Sidebar -->
        </div>
    </div>
    <!-- /container -->
	{% include "footer.html.twig" %}	
		

</body>
</html>
{% endblock %}
