<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row g-4">
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+237 655 271 506<br>
								<a href="mailto:#">some.email@somewhere.com</a><br>
								<br>
								Yaounde Cameroun
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow me</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fab fa-twitter fa-2x"></i></a>
								<a href=""><i class="fab fa-dribbble fa-2x"></i></a>
								<a href=""><i class="fab fa-github fa-2x"></i></a>
								<a href=""><i class="fab fa-facebook-f fa-2x"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">AB COMPTA</h3>
						<div class="widget-body">
							<p> Consulter AB COMPTA pour beneficier des logiciel puissant</p>
							<p>Notre equipe d'expert vous attendent</p>
						</div>
					</div>
				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row g-3 align-items-center">
					

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-md-end">
								Production &copy;  {{ "now" | date("Y-m-d")}}</a> 
							</p>
						</div>
					</div>
				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>