<nav class="navbar navbar-expand-lg navbar-dark bg-dark headroom">
		<div class="container">
			<a class="navbar-brand" href="index.html">
				<img src="assets/images/logo.png" alt="Progressus HTML5 template" height="30">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link active" href="{{path('app_home')}}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_about')}}">About</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
							More Pages
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Agence</a></li>
							<li><a class="dropdown-item active" href="#">Produit</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_contact')}}">Contact</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-outline-light" href="{{path('app_login')}}">SIGN IN / SIGN UP</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>